body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #0d1d3a;
    color: rgb(118, 255, 253);
}

h1 {
    color: #42f4f2;
}

button {
    background-color: #0d4599;
    color: white;
    padding: 10px 20px;
    border: none;

    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    background-color: #0355cf;
}

form {
    background-color: #087299;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 7px 7px 10px #025472;
    color: #66ffc9;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #f8e8d0;
    background-color: #098ebe;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #060c47;
}

th{
    background-color: #054c66;
    color: #f5fe61;
}