<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boas Vindas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <h1>Confecções S.A.</h1>
    <h2>Bem-vindo ao nosso site!</h2>
    <div>
        <a href="{% url 'cadastrar' %}"><button>Cadastrar itens</button></a>
        <a href="{% url 'view_cad' %}"><button>Visualizar itens cadastrados</button></a>
    </div>
</body>

</html>