body{
    color: rgb(255, 48, 64);
    background-color: rgb(15, 25, 35);
}

input, select, option{
    background-color: rgb(44, 72, 101);
    color: aliceblue;
}

a{
    color: rgb(0, 218, 201);
}

a:hover{
    color: rgb(0, 253, 208);
}

button{
    background-color: rgb(44, 72, 101);
    color: aliceblue;
    margin-right: 10px;
}